{% extends 'base.html' %}
{% load static %}

{% block title_block %}
{{title}}
{% endblock %}


{% block content_block %}
<div class="my-3">
    <h2 class="my-3 head" >Featured Products</h2>
    <div class="row">
        {% for product in object_list %}
        <div class="col-md-6 col-sm-12 col-lg-3">
            <figure class=" card card_prduct">
                <div class="img_wrap">
                    <img src="/media/{{product.mainimage}}" alt="" style="width: 100%; height:300px ;">
                </div>
                <figcaption class="info_wrap">
                    <h5 class="title"><a href="{% url 'app_shop:product' product.pk %}">{{product.name}}</a> </h5>
                    <div class=" action_wrap">
                        <div class="price_wrap h5">
                            <span class="price_neww">&#2547;{{product.price|floatformat:2}}</span>
                            <span class="price_old">&#2547;{{product.old_price|floatformat:2}}</span>
                        </div>
                    </div>
                </figcaption>
            </figure>
        </div>
        {% endfor %}
    </div>
</div>

      

    <p>{{product.details_text}}</p>


{% endblock %}
