{% load cart_tag %}
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <div class="container">
        <a class="navbar-brand" href="{% url 'app_shop:home' %}">E-Shop | Easy To Buy </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-tergat="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" > <span class="navbar-toggler-icon"></span> </button>
       <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav ml-auto ">
           {% if request.user.is_authenticated %}
           <li class="nav-item m-2">
             <a href="{% url 'app_order:cart_item' %}" class="nav-link">
              <i class="fa fa-shopping-cart pr-1"></i> Cart
              <span class="badge badge-light">{{request.user | cart_total}}</span>
             </a>
            
           </li>
           <li class="nav-item dropdown">
            <a href="" class="nav-link dropdown-toggle" id="navbardropDropdown" role="button" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false"> <i class="fa solid fa-user "></i> {{request.user.profile.username}} 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="{% url 'app_login:profile' %}" class="dropdown-item"> Profile</a>

            
            <a href="" class="dropdown-item">Order</a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'app_login:logout' %}" class="dropdown-item">Logout</a>
          </div>
           </li>
           {% else %}
           <li class="nav-item ">
            <a href="{% url 'app_login:signUp' %}" class="nav-link">Create account</a>
          </li>
          <li class="nav-item ">
            <a href="{% url 'app_login:login_user' %}" class="nav-link"> Login</a>
          </li>
           {% endif %}
         </ul>
       </div>
    </div>
</nav>
















 
